@page
@model DotnetAngular.Areas.Identity.Pages.Account.Slide.DeleteModel
@{
}
<div class="row mb-3">
    <a asp-page="./Index">
        Danh sách bài viết<i class="fa fa-arrow-left" aria-hidden="true"></i>
    </a>

</div>
@*<div class="row">
    <div class="col-md-6">*@
<form method="post" enctype="multipart/form-data">
    @*            <div asp-validation-summary="All" class="text-danger"></div>
    *@            <input asp-for="Id" hidden />
    Bạn có chắc chắn muốn xóa


    <div class="form-group">
        <button type="submit"
                class="btn btn-primary">
                Xóa
        </button>
    </div>

</form>