<div class="section layout_padding">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heading">
          <h3>About <span class="orange_color">Us</span></h3>
        </div>
      </div>
    </div>
    <app-post-content></app-post-content>

    <div class="row margin_top_30">
      <div class="col-md-12">
        <div class="button_section full center margin_top_30">
          <a style="margin:0;" [routerLink]='["/about"]'>Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
